.calendercard {
    font-variant-caps: all-small-caps;
    text-align-last  : center;
}

.calendercard h1,
.calendercard h6 {
    margin: 1px;
}

.seeall {
    color               : #3437E9;
    float               : inline-end;
    padding-right       : 4%;
    text-decoration-line: underline;
}