<ion-header>
  <ion-toolbar>
    <ion-title>holydaycalender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4">
      <ion-card class="calendercard">
        <h6 style="color: #3437E9;">Mon</h6>
        <h1 style="color: #3437E9;">25</h1>
        <h6 style="color: #3437E9;">Dec</h6>
        <h6>Christmas</h6>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="calendercard">
        <h6 style="color: #3437E9;">Mat</h6>
        <h1 style="color: #3437E9;">30</h1>
        <h6 style="color: #3437E9;">Dec</h6>
        <h6>Saturday</h6>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="calendercard">
        <h6 style="color: #3437E9;">Sun</h6>
        <h1 style="color: #3437E9;">31</h1>
        <h6 style="color: #3437E9;">Dec</h6>
        <h6>Sunday</h6>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>