
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="height: 97%; background-color: #ffffff">
  <ion-row style="padding-top: 20%">
    <ion-col size="5"> </ion-col>
    <ion-col size="2" style="align-items: center">
      <img src="assets/smile.png" />
    </ion-col>
    <ion-col size="5"> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2"> </ion-col>
    <ion-col size="8" style="text-align: center;">
      <i>It Happens...!</i>
    </ion-col>
    <ion-col size="2"> </ion-col>
  </ion-row>

  <ion-list style="margin-left: 5%; margin-right: 5%">
    <ion-item>
      <ion-label position="floating">Enter User Name Or Mobile Number</ion-label>
      <ion-input type="text" value="" [(ngModel)]="username"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button  style="font-size: 1.2rem; margin-top: 20px;" expand="block" color="primary"
    (click)="forgetPassword()">Ok</ion-button>
</ion-content>